* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url('../imgs/fundo.png');
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #72189D;
}

.logo {
    margin-left: 100px;
    max-width: 100px;
}

.elementos-cabecalho {
    width: 400px;
    height: 70px;
}

.container-formulario {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container-botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-limpar {
    background-color: #f59541; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-limpar:hover {
    background-color: #F58220;
}

.btn-registrar {
    background-color: #a73bda; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-registrar:hover {
    background-color: #72189D;
}
