* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url('../imgs/fundo.png');
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #72189D;
}

.logo {
    margin-left: 100px;
    max-width: 100px;
}

.header-elements {
    width: 400px;
    height: 70px;
}

.container {
    padding: 0;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#btn-registrar {
    background-color: #a73bda;
    border: none;
}

#spinner {
    display: none;
}